.p{
    background-image: url(bnn.png); 
    height: 750px; width: 1365px; border: none;
}
.p1{
    color: white;
    position: absolute;
    left: 450px;
    top: 170px;
}

.btn{   color: #FF5E62;
    border-radius:50px;
    height: 50px;
    width: 200px;
}
.p2{
    margin-top: 50px;
   letter-spacing: 30px;
}
.p3{
    margin-top: 470px;
    margin-left: 320px;
}
.q{
    position: relative;
    top: 300px;

}
.q1{
    position: absolute;
    left: 620px;
    top: 140px;
    line-height: 5px;
}
.q2{
    position: absolute;
    top: 280px;
    left: 250px;
    line-height: 5px;

}
.q3{
    position: absolute;
    top: 280px;
    right: 230px;
    line-height: 5px;

}
.q4{position: absolute;
    top: 490px;
    left: 500px;
}
.q5{
    position: absolute;
    top: 470px;
    left: 600px;
}
.q6{
    position: absolute;
    background: #FF5E62;
    top: 844px;
    right: 0px;
    left: 0px;    
}
.q7{
    position: absolute;
    top: 50px;
    left: 500px;
    line-height: 10px;
}
.q8{
    color: white;
    font-family: arial;
    position: absolute;
    top: 150px;
    left: 700px;
}
.r1{
    position: absolute;;
    top: 2700px;
    left: 10px;
}
.r2{
    position: absolute;;
    top: 2900px;
    left: 200px;
}
.r3{
    position: absolute;;
    top: 2700px;
    left: 400px;
}
.r4{
    margin-left: 50px;
    line-height: 50px;
    margin-top: 50px;
}
.carousel-indicators .active{
    width: 12px;
    height: 12px;
    background-color:#FF5E62;

}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    background-color:grey;

}
.d{
    position: absolute;
    left: 1px;
    right: 700px;
    color: white;
    background-color: #FF5E62;
    margin-top:50px;
}
.e{
    position: absolute;
    background-color:#FF5E62;
    margin-top: 50px; 
}
.h{color: white;
    background-color: #FF5E62;
    
}